black
check-manifest
doctr
extract_model
flake8
flake8-builtins
flake8-comprehensions
flake8-mutable
flake8-print
furo
ipython
isort
mypy
nbsphinx
numpydoc
pre-commit
pylint
pytest
pytest-cov
pytest-xdist
recommonmark
setuptools_scm
shapely
sphinx
sphinxcontrib-srclinks
twine
wheel
zarr
